<div class="container">
  <div class="row">
      <div class="col-lg-12 text-center">
          <h1 ng-repeat='zip in zips | limitTo: 1' >{{zip.zip}}</h1>
          <p class="lead">Current Zips</p>
          <h3>Search: <input ng-model="search"></h3>
          <ul ng-repeat='zip in zips | filter:search' class="list-unstyled">
              <h2>{{zip.title}}</h2>
              <li>{{zip.vent}}</li>
              <li>{{zip.createdAt | date:'medium'}}</li>
          </ul>
      </div>
  </div>
</div>
